.tasks-list__container
  background-color: $gray-lighter
  border-top: 1px solid darken($gray-lighter, 10%)
  padding-top: 2em
  margin-top: 2em

.tasks-list__milestone-title
  margin: 0.5em 0

.tasks-list__milestone
  margin-bottom: 2em
