.tasks-list__container
  background-color: $gray-lighter
  border-top: 1px solid darken($gray-lighter, 10%)
  padding-top: 2em
  margin-top: 2em

.tasks-list__milestone-title
  margin:
    top: 0
    bottom: 0.5em

.tasks-list__milestone
  margin-bottom: 2em
