%nav
  .navbar-wrapper
    .navbar-menu
      = link_to 'F', root_url, :class => 'navbar-logotype button-navbar'
      = link_to 'Webium', root_url, :class => 'navbar-account button-navbar'
      = link_to 'Team Lead', root_url, :class => 'navbar-user button-navbar'

      %a.navbar-menu__item.button-navbar{ :href => root_url }
        %i
          T
      %a.navbar-menu__item.button-navbar{ :href => root_url }
        %i
          P
